head
  title NotePad
  meta(name='viewport' content='width=device-width')
  link(href='//fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css')
  link(href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
  link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')

body
  a.github(href='https://github.com/alex-wilmer/notepad')
    i.fa.fa-github.fa-3x

  +notepad

template(name='notepad')
  +login

  .help
    a.modal-trigger(href='#help')
      i.mdi-action-help

  #help.modal
    .modal-content
      h4 Welcome!
      p.
        Cupidatat velit magna id esse consectetur. Eu ea velit occaecat tempor veniam minim non incididunt adipisicing consectetur officia qui in. Fugiat qui ut exercitation dolor excepteur elit ad amet do consectetur. Occaecat officia adipisicing officia velit dolore tempor do. Anim sunt sit amet in incididunt non laboris sint minim consectetur ipsum elit. Qui id ex consectetur magna sint consectetur proident aliquip nulla Lorem nostrud enim quis nisi.

  #save.modal
    .modal-content
      h4 Save Patch
      .input-field
        input#patchName(type='text' autofocus)
        label(for='patchName') New patch..
      a.cancel.waves-effect.waves-light.btn.red CANCEL
      a.sign-out.waves-effect.waves-light.btn SAVE

  #load.modal
    .modal-content
      h4 Load Patch
      a.cancel.waves-effect.waves-light.btn.red CANCEL
      a.sign-out.waves-effect.waves-light.btn LOAD

  .wrapper
    .header.z-depth-1
      .switch
        label
          i.mdi-device-multitrack-audio(class='{{active}}')
          input(type='checkbox' checked)
          span.lever
          i.mdi-av-queue-music

      span.title NotePad

    .first-menu.menu.z-depth-2
      .volume
        .label VOLUME &nbsp; #{volume}
        p.range-field
          input#volume(type='range' min='0' max='100', value='{{volume}}')

      .octave
        .label OCTAVE &nbsp; #{octave}
        p.range-field
          input#octave(type='range' min='0' max='5', value='{{octave}}')

      .root-note
        .label ROOTNOTE &nbsp; #{rootNote}
        p.range-field
          input#rootNote(type='range' min='0' max='11', value='{{rootNoteValue}}')

      .wave-shape
        .label #{waveShape}
        p.range-field
          input#waveShape(type='range' min='0' max='3', value='{{waveShapeValue}}')

      .delay
        .label DECAY #{delay}
        p.range-field
          input#delay(type='range' min='0' max='100', value='{{delay}}')

      .scale
        select
          +each scales
            option(value='{{this}}') #{this}

      .file
        .load
          a.waves-effect.waves-light.btn.modal-trigger(class='{{active}}' href='#load') LOAD

        .save
          a.waves-effect.waves-light.btn.modal-trigger(class='{{active}}' href='#save') SAVE

    .second-menu.menu(class='{{active}}')
      button#playChordProgressionButton(disabled='true') Record
      button#playChordProgressionButton(disabled='true') Play
      button#stopChordProgressionButton(disabled='true') Stop

      .chordProgression
        select 
          +each chordProgression
            option(value='{{this}}') #{this}


    canvas#reveal-layer.notepad.z-depth-2
    canvas#touch-layer.notepad.z-depth-3
