template(name='notepad')
  +login

  .help
    a.modal-trigger(href='#help')
      i.mdi-action-help

  +modals

  .wrapper
    .header.z-depth-1
      .switch
        label
          i.mdi-device-multitrack-audio(class='{{active}}')
          input(type='checkbox' checked)
          span.lever
          i.mdi-av-queue-music

      .transport
        a#record.waves-effect.waves-light.btn.purple
          i.mdi-image-lens

        a#playChordProgressionButton.waves-effect.waves-light.btn(disabled='true')
          i.mdi-av-play-arrow

      .leds
        +each bars
          .led-blue

      span.title NotePad

    .first-menu.menu.z-depth-2
      .volume
        .label VOLUME &nbsp; #{volume}
        p.range-field
          input#volume(type='range' min='0' max='100', value='{{volume}}')

      .octave
        .label OCTAVE &nbsp; #{octave}
        p.range-field
          input#octave(type='range' min='0' max='5', value='{{octave}}')

      .root-note
        .label ROOTNOTE &nbsp; #{rootNote}
        p.range-field
          input#rootNote(type='range' min='0' max='11', value='{{rootNoteValue}}')

      .wave-shape
        .label #{waveShape}
        p.range-field
          input#waveShape(type='range' min='0' max='3', value='{{waveShapeValue}}')

      .delay
        .label DECAY #{delay}
        p.range-field
          input#delay(type='range' min='0' max='100', value='{{delay}}')

      .scale
        select
          +each scales
            option(value='{{this}}') #{this}

      .file
        .load
          a.waves-effect.waves-light.btn.modal-trigger(href='#load') LOAD

        .save
          a.waves-effect.waves-light.btn.modal-trigger(href='#save') SAVE

    .second-menu.menu(class='{{active}}')
      .tempo
        .label BPM #{bpm}
        p.range-field
          input#tempo(type='range' min='600' max='2000', value='{{tempo}}')

      .chordProgression
        select
          +each chordProgression
            option(value='{{this}}') #{this}

    canvas#reveal-layer.notepad.z-depth-2
    canvas#touch-layer.notepad.z-depth-3
